html {
  width: 100%;
}

body {
  font: 13px ariel, sans-serif;
}

nav, footer {
  display: block;
  height: 20px;
}

.nav-left, .footer-left {
  float: left;
}

.nav-right, .footer-right {
  float: right;
}

a {
  display: inline-block;
  padding-left: 15px;
  text-decoration: none;
  color: #000;
  opacity: 0.75;
}

#logo img, #search input {
  display: block;
  margin: 0 auto;
}

#buttons {
  text-align: center;
}
